/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Table of contents:

FONTS
CONTAINER
SHAPE LAYER
TEXT LAYER
MEDIA QUERY
  CONTAINER-LG
  SHAPE LAYER-LG
  TEXT LAYER-LG

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */




/* FONTS */


@font-face {
  font-family: "DIN Next LT Pro";
  font-weight: normal;
  src: url("assets/fonts/DINNextLTPro-Regular.otf") format("otf");
}

@font-face {
  font-family: "DIN Next LT Pro";
  font-weight: bold;
  src: url("assets/fonts/DINNextLTPro-Bold.otf") format("otf");
}

@font-face {
  font-family: "DIN Next LT Pro";
  font-weight: bolder;
  src: url("assets/fonts/DINNextLTPro-Black.otf") format("otf");
}

body, html {
  padding: 0px;
  margin: 0px;
}


/* CONTAINER */


.flow__container {

  /* variables */

  --color-background:           #ECECEC;
  --color-yellow:               yellow;
  --color-blue:                 #21C1FF;
  --color-black:                black;
  --color-white:                white;

  position: relative;
  overflow: hidden;

  background-color: var(--color-background);
  font-family: "DIN Next LT Pro";
  height: 3000px;
  width: 100%;
}


/* SHAPE LAYER */


.flow__shape-layer {

  /* variables */

  --circle-size-yellow:         690px;
  --circle-size-blue:           430px;
  --circle-size-white:          200px;
  --circle-size-black:          100px;

  --circle-size-yellow--lg:     800px;
  --circle-size-blue--lg:       680px;
  --circle-size-white--lg:      200px;
  --circle-size-black--lg:      100px;

  --circle-pos-yellow:          10px;
  --circle-pos-blue:            110px;
  --circle-pos-white:           200px;
  --circle-pos-black:           250px;

  --circle-pos-blue--lg:        70px;
  --circle-pos-white--lg:       320px;
  --circle-pos-black--lg:       370px;

  position: relative;

  /* for testing */
  /* display: none; */
}

.flow__shape-layer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
}

.flow__circle {
  border-radius: 100%;
  position: absolute;
}

.flow__circle-yellow {
  width: var(--circle-size-yellow);
  height: var(--circle-size-yellow);
  background-color: var(--color-yellow);

  top: var(--circle-pos-yellow);
}

.flow__circle-blue {
  width: var(--circle-size-blue);
  height: var(--circle-size-blue);
  background-color: var(--color-blue);

  top: var(--circle-pos-blue);
}

.flow__circle-white {
  width: var(--circle-size-white);
  height: var(--circle-size-white);
  background-color: var(--color-white);

  /* for centered text */
  display: flex;
  justify-content: center;

  top: var(--circle-pos-white);
}

.flow__circle-black {
  width: var(--circle-size-black);
  height: var(--circle-size-black);
  background-color: var(--color-black);

  /* for centered text */
  display: flex;
  align-items: center;
  justify-content: center;

  top: var(--circle-pos-black);
}

/* focus and thesis titles */

.flow__title-focus, .flow__title-thesis {
  opacity: 0;
}

/* other objects */

.flow__line {
  height: 0px;
  width: 1px;
  background: var(--color-black);
  position: absolute;
  top: 15px;
  left: calc(50% + 10px);
  /* opacity: 0; */
}


/* TEXT LAYER */


.flow__text-layer {
  display: grid;
  position: absolute;
  grid-template-columns: 50px minmax(80px, 260px);
  padding: 20px 20px 0px 20px;

  /* for testing */
  /* display: none; */
}


/* articles */

.flow__text-layer article {
  /* opacity: 0; */
}

.flow__text-layer p, .flow__text-layer h2, .flow__text-layer dl, .flow__text-layer h1 {
  margin: 0px;
}

.flow__text-layer h2 {
  font-size: 1em;
}

.flow__text-layer article dl dt {
  font-weight: bold;
  font-size: 1.8em;
}

.flow__text-layer article dl dd {
  -webkit-margin-start: 0px;
}


article span {
  font-weight: bold;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Note:

Grid-area is a shorthand property for grid-row-start, grid-column-start, grid-row-end and grid-column-end.
It is used here to hard code the articles positions, which row and column they are on.
The end values are not used because each article element is only ever one fr unit wide.

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.flow__article-explore h1, .flow__article-experiment h1, .flow__article-thesis h1 {
  font-size: 1.8em;
  margin-bottom: .1em;
}

.flow__article-year {
  grid-area: 1 / 1;
}

.flow__article-year-one {
  grid-area: 2 / 1;
  align-self: start;
}

.flow__article-explore {
  grid-area: 2 / 2;
  margin-top: -22px;
}

.flow__article-year-two {
  grid-area: 3 / 1;
  margin-top: 30px;
}

.flow__article-experiment {
  grid-area: 3 / 2;
  margin-top: 26px;
}

.flow__article-year-four {
  grid-area: 4 / 1;
  margin-top: 30px;
}

.flow__article-thesis {
  grid-area: 4 / 2;
  margin-top: 26px;
}

/* lower area */

.flow__article-foundation {
  grid-area: 5 / 1 / 5 / 2;-
}

.flow__article-majors {
  grid-area: 6 / 1 / 6 / 2;
}

.flow__article-majors dl.flow__list-title-minors {
  margin-top: 1em
}

.flow__article-areas {
  grid-area: 7 / 1 / 7 / 2;
}



/* MEDIA QUERY */


@media screen and (min-width: 768px) {


  /* CONTAINER-LG */


  .flow__container {
    height: 1038px;
  }


  /* SHAPE LAYER-LG */


  .flow__shape-layer {
    top: 75px;
  }

  .flow__shape-layer-inner {
    display: block;
    position: absolute;
    height: 800px;
    width: 920px;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
  }

  .flow__circle {
    top: 50%;
    transform: translateY(-50%);
  }

  .flow__circle-yellow {
    width: var(--circle-size-yellow--lg);
    height: var(--circle-size-yellow--lg);
  }

  .flow__circle-blue {
    width: var(--circle-size-blue--lg);
    height: var(--circle-size-blue--lg);

    left: var(--circle-pos-blue--lg);
  }

  .flow__circle-white {
    width: var(--circle-size-white--lg);
    height: var(--circle-size-white--lg);

    left: var(--circle-pos-white--lg);
  }

  .flow__circle-black {
    width: var(--circle-size-black--lg);
    height: var(--circle-size-black--lg);

    left: var(--circle-pos-black--lg);
  }

  /* focus and thesis titles */

  .flow__title-focus, .flow__title-thesis {
    font-size: 18px;
    font-weight: normal;
    font-weight: bold;
    opacity: 0;
  }

  .flow__title-focus {
    margin-left: 0px;
  }

  .flow__title-thesis {
    color: var(--color-white);
    margin-left: 0px;
  }

  .flow__article-thesis h1 {
    display: none;
  }

  /* other objects */

  .flow__line {
    height: 1px;
    width: 0px;
    background: var(--color-black);
    top: 50%;
    transform: translateY(-50%);
  }

  /* TEXT LAYER-LG */


  .flow__text-layer {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(10px, auto);

    top: calc(99px + 10px);
    left: calc(50% + 11px);
    transform: translateX(-50%);
    width: 720px;
  }

  article dt {
    font-size: 1em;
  }

  /* articles */

  .flow__article-explore {
    grid-area: 1 / 1;
    align-self: end;
  }

  .flow__article-explore h1, .flow__article-experiment h1 {
    font-size: 1.8em;
    margin-bottom: .1em;
  }

  .flow__article-experiment {
    grid-area: 1 / 2;
    align-self: end;
  }

  .flow__article-year {
    grid-area: 2 / 1;
  }

  .flow__article-year-one {
    grid-area: 3 / 1;
  }

  .flow__article-year-two {
    grid-area: 3 / 2;
  }

  .flow__article-year-four {
    grid-area: 3 / 4;
  }

  .flow__article-foundation {
    grid-area: 4 / 1;
  }

  .flow__article-majors {
    grid-area: 4 / 2;
  }

  .flow__article-majors dl.flow__list-title-minors {
    margin-top: 1em
  }

  .flow__article-areas {
    grid-area: 4 / 3;
  }

  .flow__article-thesis {
    grid-area: 4 / 4  ;
    margin-top: 30px;
  }
}
