/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Table of contents:

FONTS
CONTAINER
SHAPE LAYER
TEXT LAYER
MEDIA QUERY
  CONTAINER-LG
  SHAPE LAYER-LG
  TEXT LAYER-LG

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */




/* FONTS */


/* The comment below is a 'loud comment' (prefixed with a `/*!`) to make sure
that it persists through minification, because this copyright message
must be present in the compiled stylesheet. */

/*! This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: http://www.fontshop.com */

@font-face{
  font-family:"DIN W01 Cond Black Italic";
  src:url("assets/fonts/ff_din_cond_black_italic/ff_din_cond_black_italic.eot?#iefix");
  src:url("assets/fonts/ff_din_cond_black_italic/ff_din_cond_black_italic.eot?#iefix") format("eot"),url("assets/fonts/ff_din_cond_black_italic/ff_din_cond_black_italic.woff2") format("woff2"),url("assets/fonts/ff_din_cond_black_italic/ff_din_cond_black_italic.woff") format("woff"),url("assets/fonts/ff_din_cond_black_italic/ff_din_cond_black_italic.ttf") format("truetype");
}
@font-face{
  font-family:"DIN W01 Cond Black";
  src:url("assets/fonts/ff_din_cond_black/ff_din_cond_black.eot?#iefix");
  src:url("assets/fonts/ff_din_cond_black/ff_din_cond_black.eot?#iefix") format("eot"),url("assets/fonts/ff_din_cond_black/ff_din_cond_black.woff2") format("woff2"),url("assets/fonts/ff_din_cond_black/ff_din_cond_black.woff") format("woff"),url("assets/fonts/ff_din_cond_black/ff_din_cond_black.ttf") format("truetype");
}
@font-face{
  font-family:"DIN W01 Bold";
  src:url("assets/fonts/ff_din_bold/ff_din_bold.eot?#iefix");
  src:url("assets/fonts/ff_din_bold/ff_din_bold.eot?#iefix") format("eot"),url("assets/fonts/ff_din_bold/ff_din_bold.woff2") format("woff2"),url("assets/fonts/ff_din_bold/ff_din_bold.woff") format("woff"),url("assets/fonts/ff_din_bold/ff_din_bold.ttf") format("truetype");
}
@font-face{
  font-family:"DIN W01 Bold Italic";
  src:url("assets/fonts/ff_din_bold_italic/ff_din_bold_italic.eot?#iefix");
  src:url("assets/fonts/ff_din_bold_italic/ff_din_bold_italic.eot?#iefix") format("eot"),url("assets/fonts/ff_din_bold_italic/ff_din_bold_italic.woff2") format("woff2"),url("assets/fonts/ff_din_bold_italic/ff_din_bold_italic.woff") format("woff"),url("assets/fonts/ff_din_bold_italic/ff_din_bold_italic.ttf") format("truetype");
}
@font-face{
  font-family:"DIN W01 Medium Italic";
  src:url("assets/fonts/ff_din_medium_italic/ff_din_medium_italic.eot?#iefix");
  src:url("assets/fonts/ff_din_medium_italic/ff_din_medium_italic.eot?#iefix") format("eot"),url("assets/fonts/ff_din_medium_italic/ff_din_medium_italic.woff2") format("woff2"),url("assets/fonts/ff_din_medium_italic/ff_din_medium_italic.woff") format("woff"),url("assets/fonts/ff_din_medium_italic/ff_din_medium_italic.ttf") format("truetype");
}
@font-face{
  font-family:"DIN W01 Italic";
  src:url("assets/fonts/ff_din_italic/ff_din_italic.eot?#iefix");
  src:url("assets/fonts/ff_din_italic/ff_din_italic.eot?#iefix") format("eot"),url("assets/fonts/ff_din_italic/ff_din_italic.woff2") format("woff2"),url("assets/fonts/ff_din_italic/ff_din_italic.woff") format("woff"),url("assets/fonts/ff_din_italic/ff_din_italic.ttf") format("truetype");
}
@font-face{
  font-family:"DIN W01 Medium";
  src:url("assets/fonts/ff_din_medium/ff_din_medium.eot?#iefix");
  src:url("assets/fonts/ff_din_medium/ff_din_medium.eot?#iefix") format("eot"),url("assets/fonts/ff_din_medium/ff_din_medium.woff2") format("woff2"),url("assets/fonts/ff_din_medium/ff_din_medium.woff") format("woff"),url("assets/fonts/ff_din_medium/ff_din_medium.ttf") format("truetype");
}
@font-face{
  font-family:"DIN W01 Regular";
  src:url("assets/fonts/ff_din_regular/ff_din_regular.eot?#iefix");
  src:url("assets/fonts/ff_din_regular/ff_din_regular.eot?#iefix") format("eot"),url("assets/fonts/ff_din_regular/ff_din_regular.woff2") format("woff2"),url("assets/fonts/ff_din_regular/ff_din_regular.woff") format("woff"),url("assets/fonts/ff_din_regular/ff_din_regular.ttf") format("truetype");
}



body, html {
  padding: 0px;
  margin: 0px;
}


/* CONTAINER */


.flow__container {

  /* variables */

  --color-background:           var(--color-white);
  --color-yellow:               #fd0;
  --color-blue:                 #00c0ff;
  --color-black:                black;
  --color-white:                white;

  position: relative;
  overflow-x: hidden;

  background-color: var(--color-background);
  font-family: "DIN Next LT Pro";
  min-height: 1100px;
  width: 100%;
}


/* SHAPE LAYER */


.flow__shape-layer {

  /* variables */

  --circle-size-yellow:         690px;
  --circle-size-blue:           430px;
  --circle-size-white:          200px;
  --circle-size-black:          100px;

  --circle-size-yellow--lg:     800px;
  --circle-size-blue--lg:       680px;
  --circle-size-white--lg:      200px;
  --circle-size-black--lg:      100px;

  --circle-pos-yellow:          10px;
  --circle-pos-blue:            110px;
  --circle-pos-white:           225px;
  --circle-pos-black:           275px;

  --circle-pos-blue--lg:        70px;
  --circle-pos-white--lg:       320px;
  --circle-pos-black--lg:       370px;

  position: relative;

  /* for testing */
  /* display: none; */
}

.flow__shape-layer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
}

.flow__circle {
  border-radius: 100%;
  position: absolute;
}

.flow__circle-yellow {
  width: var(--circle-size-yellow);
  height: var(--circle-size-yellow);
  background-color: var(--color-yellow);

  top: var(--circle-pos-yellow);
}

.flow__circle-blue {
  width: var(--circle-size-blue);
  height: var(--circle-size-blue);
  background-color: var(--color-blue);

  top: var(--circle-pos-blue);
}

.flow__circle-white {
  width: var(--circle-size-white);
  height: var(--circle-size-white);
  background-color: var(--color-white);

  /* for centered text */
  display: flex;
  justify-content: center;

  top: var(--circle-pos-white);
}

.flow__circle-black {
  width: var(--circle-size-black);
  height: var(--circle-size-black);
  background-color: var(--color-black);

  /* for centered text */
  display: flex;
  align-items: center;
  justify-content: center;

  top: var(--circle-pos-black);
}

/* focus and thesis titles */

.flow__title-focus, .flow__title-thesis {
  opacity: 0;
}

/* other objects */

.flow__line {
  height: 0px;
  width: 1px;
  background: var(--color-black);
  position: absolute;
  top: 15px;
  left: 10px;
  /* opacity: 0; */
}


/* TEXT LAYER */


.flow__text-layer {
  display: grid;
  position: absolute;
  grid-template-columns: 50px minmax(80px, 260px);
  padding: 20px 20px 0px 20px;

  /* for testing */
  /* display: none; */
}


/* articles */

.flow__article-explore > *, .flow__article-experiment > *, .flow__article-thesis > * {
  opacity: 0;
}

.flow__article-foundation, .flow__article-majors, .flow__article-areas, .flow__article-year, .flow__article-year-one, .flow__article-year-two, .flow__article-year-four {
  opacity: 0;
}

.flow__text-layer p, .flow__text-layer h2, .flow__text-layer dl, .flow__text-layer h1 {
  margin: 0px;
}

.flow__text-layer h2 {
  font-size: 1em;
}

.flow__text-layer article dl {
  width: 100vw;
}

.flow__text-layer article dl dt {
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: .1em;
}

.flow__text-layer article dl dd {
  -webkit-margin-start: 0px;
  padding-bottom: .15em;
}

.flow__text-layer article dl dd:last-of-type {
  padding-bottom: 0px;
}

.flow__text-layer article span {
  font-weight: bold;
}

/*

Note:

Grid-area is a shorthand property for grid-row-start, grid-column-start, grid-row-end and grid-column-end.
It is used here to hard code the articles positions, which row and column they are on.
The end values are not used because each article element is only ever one fr unit wide.

*/

.flow__article-explore h1, .flow__article-experiment h1, .flow__article-thesis h1 {
  font-size: 1.8em;
  margin-bottom: .1em;
}

.flow__article-year {
  grid-area: 1 / 1;
}

.flow__article-year-one {
  grid-area: 2 / 1;
  align-self: start;
}

.flow__article-explore {
  grid-area: 2 / 2;
  margin-top: -22px;
}

.flow__article-year-two {
  grid-area: 3 / 1;
  margin-top: 30px;
}

.flow__article-experiment {
  grid-area: 3 / 2;
  margin-top: 26px;
}

.flow__article-year-four {
  grid-area: 4 / 1;
  margin-top: 30px;
}

.flow__article-thesis {
  grid-area: 4 / 2;
  margin-top: 26px;
}

/* lower area */

.flow__article-foundation {
  grid-area: 5 / 1 / 5 / 2;
  margin-top: 80px;
}

article dl dt {
  padding-right: 20px;
}

.flow__article-majors {
  grid-area: 6 / 1 / 6 / 2;
}

.flow__article-majors, .flow__article-majors dl.flow__list-title-minors, .flow__article-areas {
  margin-top: 26px;
}

.flow__article-areas {
  grid-area: 7 / 1 / 7 / 2;
  margin-bottom: 60px;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
MEDIA QUERY
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


@media screen and (min-width: 768px) {


  /* CONTAINER-LG */


  .flow__container {
    height: 1038px;
  }


  /* SHAPE LAYER-LG */


  .flow__shape-layer {
    top: 75px;
  }

  .flow__shape-layer-inner {
    display: block;
    position: absolute;
    height: 800px;
    width: 920px;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
  }

  .flow__circle {
    top: 50%;
    transform: translateY(-50%);
  }

  .flow__circle-yellow {
    width: var(--circle-size-yellow--lg);
    height: var(--circle-size-yellow--lg);
  }

  .flow__circle-blue {
    width: var(--circle-size-blue--lg);
    height: var(--circle-size-blue--lg);

    left: var(--circle-pos-blue--lg);
  }

  .flow__circle-white {
    width: var(--circle-size-white--lg);
    height: var(--circle-size-white--lg);

    left: var(--circle-pos-white--lg);
  }

  .flow__circle-black {
    width: var(--circle-size-black--lg);
    height: var(--circle-size-black--lg);

    left: var(--circle-pos-black--lg);
  }

  /* focus and thesis titles */

  .flow__title-focus, .flow__title-thesis {
    font-size: 18px;
    font-weight: normal;
    font-weight: bold;
    opacity: 0;
  }

  .flow__title-focus {
    margin-left: 0px;
  }

  .flow__title-thesis {
    color: var(--color-white);
    margin-left: 0px;
  }

  .flow__article-thesis h1 {
    display: none;
  }

  /* other objects */

  .flow__line {
    height: 1px;
    width: 0px;
    background: var(--color-black);
    top: 336px;
    transform: translateY(-50%);
    z-index: -99;
  }

  /* helper class */

  .flow__helper-line-width {
    width: calc(60% + 170px) !important; /*lol*/
  }

  /* TEXT LAYER-LG */


  .flow__text-layer {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 3%;

    grid-auto-rows: minmax(10px, auto);

    top: calc(99px + 42px);
    left: calc(50% + 11px);
    transform: translateX(-50%);
    width: 100%;
    max-width: 900px;
  }

  /* articles */

  .flow__text-layer article {
    opacity: 0;
  }

  .flow__text-layer article dl {
    width: 100%;
  }

  .flow__text-layer article dl dt {
    font-size: 1em;
    margin-bottom: .2em;
  }

  .flow__article-explore > *, .flow__article-experiment > *, .flow__article-thesis > * {
    opacity: 1;
  }

  .flow__article-foundation dl dd, .flow__article-majors dl dd, .flow__article-areas dl dd {
    /* text-transform: uppercase; */
  }

  .flow__article-explore {
    grid-area: 1 / 1;
    align-self: end;
    min-height: 304px;
  }

  .flow__article-explore h1, .flow__article-experiment h1 {
    font-size: 1.8em;
    margin-bottom: .1em;
  }

  .flow__article-experiment {
    grid-area: 1 / 2;
    align-self: end;
  }

  .flow__article-year {
    grid-area: 2 / 1;
  }

  .flow__article-year-one {
    grid-area: 3 / 1;
    margin: 0px;
  }

  .flow__article-year-two {
    grid-area: 3 / 2;
    margin: 0px;
  }

  .flow__article-year-four {
    grid-area: 3 / 4;
    margin: 0px;
  }

  .flow__article-foundation {
    grid-area: 4 / 1;
  }

  .flow__article-majors {
    grid-area: 4 / 2;
  }

  .flow__article-foundation, .flow__article-majors, .flow__article-majors dl.flow__list-title-minors, .flow__article-areas {
    margin: 0px;
  }

  .flow__article-majors dl.flow__list-title-minors {
    margin-top: 1em
  }

  .flow__article-areas {
    grid-area: 4 / 3;
  }

  .flow__article-thesis {
    grid-area: 4 / 4  ;
    margin-top: 30px;
  }
}
